<!DOCTYPE html>

    <%-include ("partials/headInfo") %>

<body>

    <%- include ("partials/nav"); %>
  

    <h1>Hello <%= person %>, Welcome to your profile. </h1>

    <p><strong>Height: </strong> <%= data.height %> cm</p>
    <p> <strong>Job: </strong> <%= data.job %>!</p>

    <h2>Hobbies</h2>
    <ul>
        <% data.hobbies.forEach((hobby)=> { %> 
            <li><%= hobby %></li>
        <% }); %>    
    </ul>
    
    <%- include ("partials/footer"); %>

</body>
</html>